[defaults]
user = "your-itch-username"
game = "your-game-name"

[channels.html5]
path = "public"
description = "Web version (HTML5)
# [channels.mac]
# path = "builds/mac"
# description = "macOS version"
