$game-width: 1280px;
$game-height: 800px;

body.game{
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  #my-game-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #my-game{
      width: 100vw;
      height: 100vh;

      canvas{
        width: 100vw !important;
        height: 100vh !important;
        max-width: none !important;
        max-height: none !important;
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }
}

body.playground{
  background-color: #000000;

  h1{color: greenyellow; text-align: center;}
  div{color: white;}
}